$clr-white: #FAFAFA;
$clr-dark: #F4F4F4;
$clr-darker: #EBEBEB;
$clr-yellow: #FFD43B;
$clr-blue: #67D9E8;
$clr-orange: #FF6B6B;

$fs-300: 14px;
$fs-400: 16px;
$fs-500: 20px;
$fs-600: 30px;
$fs-800: 40px;

